
@{
    ViewBag.Title = "maCollection";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ma collection</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<body>
    <div>
        <h2>Ma collection</h2>
        <p>Voici toutes les cartes que vous avez découvertes !</p>
    </div>
</body>
</html>
