<div>
    <h2>Toutes les cartes</h2>
    <p>Voici toutes les cartes que vous pouvez débloquer !</p>


    @if (ViewData["image"] != null) {
        List<String> infoList = (List<String>)ViewData["image"];
        foreach (var i in infoList) {
            <img src="@i" />
        }
    }
</div>
