
@{
    ViewBag.Title = "openBooster";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Booster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<body>
    <div>
        <h2>Ouvrir un booster</h2>
        <div>
            <p>Cliquez sur le bouton pour réduire le temps avant le prochain booster</p>
            <a class="waves-effect waves-light btn">CLIQUE ICI</a>
        </div>
    </div>
</body>
</html>