
@{
    ViewBag.Title = "openBooster";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Booster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<body>
    <div>
        <h2>Ouvrir un booster</h2>
        <div>
            <p>Cliquez sur le bouton pour ouvrir un autre booster</p>
            @if (ViewData["image"] != null) {
                <img src="@ViewData["image"]" />                
            }
        </div>
            <div>
            <form action="ouvrirBooster">
                <input type="submit" name="Ouvrir un autre Booster" value="Ouvrir un autre Booster" />
            </form>
        </div>
    </div>
</body>
</html>