
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
          <h2>Oups, vous ne devriez pas voir cette page normalement ...</h2>
           <p>Veuillez vérifier le lien</p>
    </div>
</body>
</html>
