
<div> 
    <h2>Bonjour @ViewData["name"]</h2>
    <p>Tu es actuellement sur la page d'accueil de CardSnapper</p>
    <p>Tu as @ViewData["nombreCartesUser"] cartes dans ta collection</p>
    <p>Tu peux obtenir au total @ViewData["nombreCartes"] cartes</p>
</div>
