
<div> 
    <h2>Hello @ViewData["name"]</h2>
    <p>Tu es actuellement sur la page d'accueil de CardSnapper</p>
    <p>Il reste --INSERER COMPTEUR--  avant de pouvoir ouvrir un nouveau booster</p>
    <p>Tu as --INSERER NOMBRE CARTES-- @ViewData["nombreCartes"] cartes dans ta collection</p>
</div>
