
@{
    ViewBag.Title = "signin";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Se connecter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<body>

    <div>
        <h2>Se connecter</h2>

        <div class="row">
            <form class="col s12" action="auth" method="POST">
                <div class="row">
                    <div class="input-field col s1">
                        <label for="username">Login</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="username" name="username" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s1">
                        <label for="password">Mot de passe</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="password" name="password" type="password" class="validate">
                    </div>
                </div>

                <input type="submit" name="Valider" value="Valider"/>
            </form>
        </div>

    </div>
</body>
</html>
