
@{
    ViewBag.Title = "signup";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>S'inscrire</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<body>
    <div>
        <h2>S'inscrire</h2>

        <div class="row">
            <form class="col s12" action="signup" method="post">
                <div class="row">
                    <div class="input-field col s1">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="username" name="username" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s1">
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="password" name="password" type="password" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s1">
                        <label for="confirm-password">Confirm Password</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="confirm-password" name="confirm-password" type="password" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s1">
                        <label for="mail">Email</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="mail" name="mail" type="email" class="validate">
                    </div>
                </div>
                <input type="submit" name="Valider" />
            </form>
        </div>
    </div>
</body>
</html>